<%- include("partials/header.ejs") %>

<br /><br />
<div
  class="container bg-dark shadow p-3 mb-5 bg-body-tertiary rounded text-white mt-4"
>
  <h1>Edit Post</h1>

  <form action="/blogs/<%= post.id %>?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input
        type="text"
        class="form-control"
        name="title"
        value="<%= post.title %>"
        required
      />
    </div>

    <div class="mb-3">
      <label for="content" class="form-label">Content: </label>
      <textarea
        class="form-control"
        name="content"
        rows="3"
        name="content"
        required
      >
<%= post.content %></textarea
      >

      <button type="submit" class="btn btn-outline-success btn-sm mt-3">
        Update
      </button>
    </div>
  </form>
</div>

<%- include('partials/footer.ejs') %>
